@model OrderViewModel
@{
    Layout = "_LayoutWhite";
}
<div class="basket">
	<div class="basket__container">
		<div class="basket__main">
		<ul class="hiararchy-menu__list menu__list _regular-font">
			<li class="menu__item">
				<a href="Books/All"><span class=" _icon-angle-left"></span>Назад до магазину</a>
			</li>
		</ul>
		<h1 class="basket__page-header">Кошик</h1>
		<div class="basket__items">
			
				<table class="basket__items-table items-table">
					<tr class="basket__items-table-header items-table__header">
						<td>Фото</td>
						<td>Книга</td>
						<td>Кількість</td>
						<td>Ціна</td>
						<td></td>
					</tr>
					@if (Model != null && Model.OrderDetails.Count() != 0)
					{
						@for (int i = 0; i < Model.OrderDetails.Count; i++)
						{	
							
							decimal orderSummaryPrice = Model.OrderDetails[i].Price*Model.OrderDetails[i].Quantity;
							var imagePath = "../src/img/books/" + @Model.OrderDetails[i].Code + ".jpg";
							
								<tr class="items-table__item">
									<td class="basket__items-thumbnail">
										<a href="" class="book-item__image _ibg">
											<img
												src="@imagePath" alt="">
										</a>
									</td>
									<td class="basket__items-info">
										<a href="" class="book-item__title">
											<h6>@Model.OrderDetails[i].Book.Title</h6>
										</a>
										<a href="" class="book-item__author _description-font">@Model.OrderDetails[i].Book.Author.FullName</a>
									</td>
									<td class="basket__items-quantity">
										<div class="quantity-input">
											<a href="Basket/UpdateQuantity/@Model.OrderDetails[i].Code/@(Model.OrderDetails[i].Quantity-1)" class="quantity-input__btn-dec">
												<span
													class="_icon-minus"></span></a>
											<input name="quantity" class="quantity-input__value" type="text"
											       readonly value="@Model.OrderDetails[i].Quantity">
											<a href="Basket/UpdateQuantity/@Model.OrderDetails[i].Code/@(Model.OrderDetails[i].Quantity+1)" class="quantity-input__btn-inc">
												<span class="_icon-plus"></span></a>
										</div>
									</td>
									<td class="basket__items-price">
										<h5>@Decimal.Round(orderSummaryPrice) ₴</h5>
									</td>
									<td class="basket__items-close-btn">
										<a href="Basket/Remove/@Model.OrderDetails[i].Code" class="_icon-close"></a>
									</td>
								</tr>
							
							
						}	
					}
					
				</table>	
			
		</div>
		</div>
		<div class="basket__summary">
			@if (Model != null && Model.OrderDetails.Count() != 0)
			{
				decimal orderSummaryPrice = 0;
				for (int i = 0; i < Model.OrderDetails.Count; i++) orderSummaryPrice += Model.OrderDetails[i].Price*Model.OrderDetails[i].Quantity;
				
				
				<div class="basket__summary-info">
					<h4 class="basket__summary-header">Разом</h4>
					<table class="basket__summary-details items-table">
						<tr>
							<td>Сума замовлення:</td>
							<td class="basket__summary-details-price">
								<h5>@Decimal.Round(orderSummaryPrice, 2) ₴</h5>
							</td>
						</tr>
						<tr>
							<td>Доставка:</td>
							<td class="basket__summary-details-price">
								<h5>70.00 ₴</h5>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="basket__summary-total">
					<div class="basket__summary-total-value">
						<h4>Всього:</h4>
						<h4> @Decimal.Round(orderSummaryPrice + 70, 2) ₴</h4>
					</div>
					@Html.ActionLink("Оформити замовлення", "Ordering", "Order", @Model, new { @class = "basket__summary-button button-large" })
					
				</div>	
			}
		</div>
	</div>
</div>