﻿@model BookViewModel
@{
    Layout = "_Layout";
	var imagePath = "../src/img/books/" + @Model.Code + ".jpg";
	var buyPath = "/Books/Buy/" + @Model.Code;
	var categoryPath = "/Books/Category/" + ViewBag.Category.Name;
}

<div class="product-details">
	<div class="product-details__container">
		<div class="product-details__nav">
			<nav class="products__hieararchy-menu menu">
				<ul class="hiararchy-menu__list menu__list _regular-font">
					<li class="menu__item">
						<a href="/Home"><span class=" _icon-angle-left"></span>Головна</a>
					</li>
					<li class="menu__item">
						<a href="/Categories"><span class=" _icon-angle-left"></span>Категорії</a>
					</li>
					<li class="menu__item">
						<a href="@categoryPath"><span class=" _icon-angle-left"></span>@ViewBag.Category.Name</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="product-details__content">
			<div class="product-details__image-container">
				<div class="product-details__image _ibg">
					<img src="@imagePath" alt="">
				</div> 
			</div>							
			<description class="product-details__info">
				<div class="product-details__header">
					<h3 class="product-details__book-title">@Model.Title</h3>
					<h5 class="product-details__book-author">@Model.Author</h5>
					<span class="product-details__header-border"></span>
				</div>
				<div class="product-details__characteristics _regular-interface-font">
					<ul class="product-details__characteristics-list">
						<li><span>Жанр</span>
							@foreach(var genre in @Model.GenreNames)
							{
								var genreLink = "/Books/Genre/" + genre;
								<span> <a href="genreLink">@genre</a></span>
							}
								</li>
						<li><span>Категорія:</span><span><a href="@categoryPath">@ViewBag.Category.Name</a></span></li>
						<li><span>Мова видання:</span><span>@Model.Language</span></li>
						<li><span>Кількість сторінок</span><span>@Model.NumberOfPages</span></li>
					</ul>
				</div>
				<div class="product-details__description">
					<span class="._large-interface-font _large-interface-font">Про книжку:</span>
					<p class="product-details__text">
						@Model.Description
					</p>
				</div>
				<div class="product-details__buy">
					
					<a href="@buyPath" class="button-large">Купити</a>
				</div>
			</description>
		</div>
	</div>
</div>