@using YourBookStore.Domain.Enums
@using YourBookStore.Domain.Entities
@model YourBookStore.Domain.ViewModels.FilterViewModel
@{
    Layout = "_Layout";
	
	
	
}
<section class="products">
	<div class="products__container">
		<div class="products__header">
			@* <nav class="products__hieararchy-menu menu"> *@
			@* 	<ul class="hiararchy-menu__list menu__list _regular-font"> *@
			@* 		<li class="menu__item"> *@
			@* 			<a href="/Home"><span class=" _icon-angle-left"></span>Головна</a> *@
			@* 		</li> *@
			@* 		<li class="menu__item"> *@
			@* 			<a href="/Categories"><span class=" _icon-angle-left"></span>Категорії</a> *@
			@* 		</li> *@
			@* 		<li class="menu__item"> *@
			@* 			<a href="@categoryPath"><span class=" _icon-angle-left"></span>Фікшн література</a> *@
			@* 		</li> *@
			@* 	</ul> *@
			@* </nav> *@
			<div class="products__title">
				<h1>Книги</h1>
			</div>
		</div>
	</div>
	<div class="products__container">
		
		@using (Html.BeginForm("SearchAllBooks", "Books", FormMethod.Get, new { @id = "formFilter" }))
		{
			@Html.HiddenFor(m => m.PageSize)
			@Html.HiddenFor(m => m.PageNumber)
			@Html.HiddenFor(m => m.SearchName, new { @Value = ""})
			<div class="products__filter-menu-wrapper">
				<div class="filter-menu">
					<div class="filter-menu__header">
						<h6>Вибір за параметрами</h6>
					</div>
					<div class="filter-menu__filters">
						<div class="dropdown">
							<h6>Cортувати:</h6>
							@Html.DropDownListFor(m => m.FilterStatus,  new SelectList(Enum.GetValues(typeof(FilterStatus)) .Cast<FilterStatus>()))
						</div>

						<div class="filter-menu__checkboxes-filter-item">
		                    <h6 class="filter-menu__filter-header"></h6>
		                    <div class="filter-menu__checkboxes">
                    			@for (int i = 0; i < ViewBag.AllCategories?.Count; i++)
		                        {
		                            var isChecked = Model.Categories?.Contains(ViewBag.AllCategories[i]);
		                            <label class="chechbox-item">
		                                @ViewBag.AllCategories[i]
		                                <input name="Categories" type="checkbox" value="@ViewBag.AllCategories[i]" checked="@isChecked" >
		                                <span class="checkmark"></span>
		                            </label>
		                        }
                    			<span class="filter-menu__border"></span>
		                    </div>
						</div>
						<div class="filter-menu__checkboxes-filter-item">
							<h6 class="filter-menu__filter-header">Жанр</h6>
							<div class="filter-menu__checkboxes">
								@for (int i = 0; i < ViewBag.AllGenres?.Count; i++)
								{
									var isChecked = Model.Genres?.Contains(ViewBag.AllGenres[i]);
									<label class="chechbox-item">
										@ViewBag.AllGenres[i]
										<input name="Genres" type="checkbox" value="@ViewBag.AllGenres[i]" checked="@isChecked" >
										<span class="checkmark"></span>
									</label>
								}
								<span class="filter-menu__border"></span>
							</div>
						</div>
						<div class="filter-menu__checkboxes-filter-item">
                        	<h6 class="filter-menu__filter-header">Мова</h6>
                        	<div class="filter-menu__checkboxes">
                        		@for (int i = 0; i < ViewBag.AllLanguages?.Count; i++)
                                {
                                    var isChecked = Model.Languages?.Contains(ViewBag.AllLanguages[i]);
                                    <label class="chechbox-item">
                                        @ViewBag.AllLanguages[i]
                                        <input name="Languages" type="checkbox" value="@ViewBag.AllLanguages[i]" checked="@isChecked" >
                                        <span class="checkmark"></span>
                                    </label>
                                }
                        		<span class="filter-menu__border"></span>
                        	</div>
                        </div>
                        <div class="filter-menu__checkboxes-filter-item">
                            <h6 class="filter-menu__filter-header">Автор</h6>
                            <div class="filter-menu__checkboxes">
                                @for (int i = 0; i < ViewBag.AllAuthors?.Count; i++)
                                {
                                    var isChecked = Model.Authors?.Contains(ViewBag.AllAuthors[i]);
                                    <label class="chechbox-item">
                                        @ViewBag.AllAuthors[i]
                                        <input name="Authors" type="checkbox" value="@ViewBag.AllAuthors[i]" checked="@isChecked" >
                                        <span class="checkmark"></span>
                                    </label>
                                }
                                <span class="filter-menu__border"></span>
                            </div>
                        </div>
						
						<div class="filter-menu__price-range-filter-item">
							<h6 class="filter-menu__range-header">Ціна</h6>
							<div class="price-range">
								<div class="values">
									<span id="range1">
										0
									</span>
									<span> </span>
									<span id="range2">

									</span>
								</div>
								<div class="price-range__box">
									<div class="slider-track"></div>
									<input name="PriceFrom" type="range" min="@Model.PriceFrom" max="@ViewBag.MaxPrice" value="@Model.PriceFrom" id="slider-1"
									       oninput="slideOne()">
									<input name="PriceTo" type="range" min="@Model.PriceFrom" max="544" value="544" id="slider-2"
									       oninput="slideTwo()">
								</div>
							</div>
						</div>

					</div>
					<button  type="submit" class="filter-menu__button button button_gray">Застосувати</button>
				</div>
			</div>
		}
		
			
		
			<div class="products__content">
			
			
				<div class="products__items">
					
					@{
						var books = ViewBag.Books as BookViewModel[];
						for (int i = 0; i < books?.Length; i++)
						{
							var bookPath = "/Books/" + books[i].Code;
							var imagePath = "../src/img/books/" + books[i].Code + ".jpg";
							if (books[i].IsNew)
							{
								<div class="book-item-box">
									<div class="book-item book-item_new">
										<span class="book-item__new-sign _regular-interface-font">NEW</span>
										<a href="@bookPath" class="book-item__image _ibg">
											<img src="@imagePath"
											     alt=""></a>
										<div class="book-item__info">
											<a href="@bookPath" class="book-item__title">
												<h6>@books[i].Title</h6>
											</a>
											<a href="@bookPath" class="book-item__author _description-font">@books[i].Author</a>
										</div>
										<div class="book-item__box">
											<div class="book-item__price">
												<h5>@books[i].Price.ToString().Substring(0, books[i].Price.ToString().Length - 5)</h5>
												<h6>грн</h6>
											</div>
											<a href="/Books/Buy/@books[i].Code" class="book-item__buy-button">
												<span
													class="_icon-shopping-cart"></span></a>
										</div>
									</div>
								</div>
							}
							else
							{
								<div class="book-item-box">
									<div class="book-item">
										<span class="book-item__new-sign _regular-interface-font">NEW</span>
										<a href="@bookPath" class="book-item__image _ibg">
											<img src="@imagePath"
											     alt=""></a>
										<div class="book-item__info">
											<a href="@bookPath" class="book-item__title">
												<h6>@books[i].Title</h6>
											</a>
											<a href="@bookPath" class="book-item__author _description-font">@books[i].Author</a>
										</div>
										<div class="book-item__box">
											<div class="book-item__price">
												<h5>@books[i].Price.ToString().Substring(0, books[i].Price.ToString().Length - 5)</h5>
												<h6>грн</h6>
											</div>
											<a href="/Books/Buy/@books[i].Code" class="book-item__buy-button">
												<span
													class="_icon-shopping-cart"></span></a>
										</div>
									</div>
								</div>

							}
						}
					}
				</div>
			<div class="pagination">
			
				@* @if (Model.PageNumber > 1) *@
				@* { *@
				@* 	<button type="button" class="pagination__button _isEnabled" onclick="prevPageClick()"><span class="_icon-angle-left"></span></button> *@
				@* } *@
				@* else *@
				@* { *@
				@* 	<button type="button" class="pagination__button"><span class="_icon-angle-left"></span></button> *@
				@* } *@
				@* <h6 id="pageCountView" class="pagination__page-value">@Model.PageNumber</h6> *@
				@* *@
				@* 	 *@
				@* *@
				@* @if (Model.PageNumber < ViewBag.TotalPages) *@
				@* { *@
				@* 	<button type="button" class="pagination__button _isEnabled" onclick="nextPageClick()"><span class="_icon-angle-right"></span></button> *@
				@* } *@
				@* else *@
				@* { *@
				@* 	<button type="button" class="pagination__button"><span class="_icon-angle-left"></span></button> *@
				@* } *@
			</div>
		</div>
	</div>
</section>

<script src="../src/js/price-range.js"></script>