@model IEnumerable<string>
@{
    Layout = "_Layout";
}
<section class="categories">
	<div class="categories__container">
		<div class="categories__title">
			<h1>Категорїї книжок</h1>
		</div>
		<div class="categories__items">
			<div class="categories__grid">
				@foreach (var categoryName in Model)
                {
	                <div class="category-item">
		                <a href="Genres/@categoryName" class="category-item__content">
			                <div class="category-item__box">
				                <h5 class="category-item__title">@categoryName</h5>
				                <div class="category-item__btn">
					                <span class="_icon-angle-right"></span>
				                </div>
			                </div>
		                </a>
	                </div>
                }
			</div>
		</div>
	</div>
</section>