@charset "UTF-8";
/*Nullify*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&family=Raleway:wght@300;400;500&display=swap&subset=cyrillic-ext");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "icons";
  src: url("../src/fonts/icons.ttf?eu9pjo") format("truetype"), url("../src/fonts/icons.woff?eu9pjo") format("woff"), url("../src/fonts/icons.svg?eu9pjo#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-check:before {
  content: "\e90d";
}

._icon-signout:before {
  content: "\e90e";
}

._icon-angle-down:before {
  content: "\e900";
}

._icon-angle-left:before {
  content: "\e901";
}

._icon-angle-right:before {
  content: "\e902";
}

._icon-close:before {
  content: "\e903";
}

._icon-edit:before {
  content: "\e904";
}

._icon-insta:before {
  content: "\e905";
}

._icon-minus:before {
  content: "\e906";
}

._icon-plus:before {
  content: "\e907";
}

._icon-search:before {
  content: "\e908";
}

._icon-shopping-cart:before {
  content: "\e909";
}

._icon-star:before {
  content: "\e90a";
}

._icon-telegram:before {
  content: "\e90b";
}

._icon-user:before {
  content: "\e90c";
}

.header-home {
  position: fixed;
  background: none;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));
}

.header-home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-home__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-home__menu .menu__item {
  margin-right: 50px;
}

.header-home__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-home__actions span {
  vertical-align: middle;
}

.header-home__actions .user-menu-item {
  font-size: 32px;
  margin-right: 30px;
}

.header-home__actions .cart-menu-item {
  font-size: 32px;
  margin-right: 10px;
}

.header-home__actions .price {
  font-size: 16px;
}

.header-home_fixed {
  position: fixed;
  background-color: #edebe8;
  left: 0;
  top: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #f9f9f9;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu .menu__item {
  margin-right: 50px;
}

.header .search-bar {
  width: 680px;
  height: 50px;
}

.header .search-bar .search-bar__input {
  width: 570px;
}

.header__categories-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.header__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__actions span {
  vertical-align: middle;
}

.header__actions .user-menu-item {
  font-size: 32px;
  margin-right: 30px;
}

.header__actions .cart-menu-item {
  font-size: 32px;
  margin-right: 10px;
}

.header__actions .price {
  font-size: 16px;
}

.header_fixed {
  position: fixed;
  -webkit-filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));
  left: 0;
  top: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  width: 100%;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("..//src/img/home/footer.svg");
  padding: 20px 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #8495A6;
  height: 100%;
}

.footer__content a {
  color: #8495A6;
}

.sign-in-form, .sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-form__redirect span {
  margin-right: 5px;
}

.sign-form__redirect a {
  color: #54785c;
  border-bottom: 1px solid #54785C;
  padding-bottom: 2px;
}

h1 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

h2 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}

h4 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

h5 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

h6 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

._regular-interface-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

._large-interface-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

._regular-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

._description-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

._input-description-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

._input-large-description-font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.search-bar {
  background: #ededed;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  width: 480px;
  padding: 14px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.search-bar__input {
  background: transparent;
  border: none;
  outline: none;
  width: 350px;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.search-bar ._icon-search {
  font-size: 24px;
  margin-left: 40px;
}

.search-bar_white {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.02);
}

.book-item {
  width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0px;
  background-color: #f9f9f9;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
  position: relative;
}

.book-item__new-sign {
  color: #833d40;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: none;
  position: absolute;
  top: 20;
  left: 210px;
}

.book-item_new .book-item__new-sign {
  display: block;
}

.book-item__image {
  min-width: 170px;
  min-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book-item__info {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}

.book-item__title {
  width: 100%;
  margin-bottom: 5px;
}

.book-item__title h6 {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  /* Добавляем многоточие */
  white-space: nowrap;
}

.book-item__author {
  width: 100%;
}

.book-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 30px;
  margin-bottom: 20px;
}

.book-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #54785c;
}

.book-item__price h5 {
  margin-right: 5px;
}

.book-item__price h6 {
  margin-top: 5px;
}

.book-item__buy-button {
  font-size: 32px;
  color: #426072;
}

.book-item__buy-button:hover {
  color: #54785c;
}

.book-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  position: absolute;
  z-index: 7;
}

.book-item:hover .book-item__title h6 {
  white-space: normal;
}

.book-item-box {
  width: 260px;
  height: 358px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 9px;
}

.book-item-box:hover::after {
  content: "";
  width: 260px;
  height: 358px;
  display: block;
}

.category-item {
  width: 400px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-size: contain;
  position: relative;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.category-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 15px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-55.33%, rgba(0, 0, 0, 0.78)), to(rgba(217, 217, 217, 0))), url("../src/img/cards/card.jpg");
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.78) -55.33%, rgba(217, 217, 217, 0) 100%), url("../src/img/cards/card.jpg");
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.78) -55.33%, rgba(217, 217, 217, 0) 100%), url("../src/img/cards/card.jpg");
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.78) -55.33%, rgba(217, 217, 217, 0) 100%), url("../src/img/cards/card.jpg");
}

.category-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0px 30px;
  z-index: 10;
}

.category-item__title {
  color: #f9f9f9;
}

.category-item__btn {
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  border-radius: 100%;
  text-align: center;
  padding: 13px 0px 13px 1px;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.category-item__btn:hover {
  background: #363636;
}

.category-item__btn:hover ._icon-angle-right {
  color: white;
}

.category-item ._icon-angle-right {
  color: #363636;
  font-size: 24px;
}

.category-item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.genre-item {
  width: 400px;
  height: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-size: contain;
  position: relative;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.genre-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 400px;
  height: 85px;
  position: relative;
  border-radius: 15px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-63.5%, rgba(0, 0, 0, 0.6)), color-stop(120.5%, rgba(217, 217, 217, 0))), url("../src/img/cards/card.jpg");
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) -63.5%, rgba(217, 217, 217, 0) 120.5%), url("../src/img/cards/card.jpg");
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) -63.5%, rgba(217, 217, 217, 0) 120.5%), url("../src/img/cards/card.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -63.5%, rgba(217, 217, 217, 0) 120.5%), url("../src/img/cards/card.jpg");
}

.genre-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0px 30px;
  z-index: 10;
}

.genre-item__title {
  color: #f9f9f9;
}

.genre-item__btn {
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  border-radius: 100%;
  text-align: center;
  padding: 13px 0px 13px 1px;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.genre-item__btn:hover {
  background: #363636;
}

.genre-item__btn:hover ._icon-angle-right {
  color: white;
}

.genre-item ._icon-angle-right {
  color: #363636;
  font-size: 24px;
}

.genre-item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.button-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 50px;
  width: 300px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #54785c;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #f9f9f9;
  border-radius: 15px;
}

.button-large:hover {
  background: #f9f9f9;
  color: #54785c;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  width: 190px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #54785c;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #f9f9f9;
  border-radius: 15px;
}

.button:hover {
  background: #f9f9f9;
  color: #54785c;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button_white {
  background: #f9f9f9;
  color: #363636;
}

.button_white:hover {
  background: #363636;
  color: #f9f9f9;
}

.button_gray {
  background: #dfdfdf;
  color: #363636;
}

.button_gray:hover {
  background: #54785c;
  color: #f9f9f9;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-item__label {
  display: block;
  margin-bottom: 15px;
}

.text-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 190px;
  height: 35px;
  padding: 14px 20px;
  background: #f9f9f9;
  border: 2px solid #dfdfdf;
  border-radius: 15px;
}

.text-input::-webkit-input-placeholder {
  color: #959595;
}

.text-input:-ms-input-placeholder {
  color: #959595;
}

.text-input::-ms-input-placeholder {
  color: #959595;
}

.text-input::placeholder {
  color: #959595;
}

.input-large {
  width: 440px;
  height: 50px;
}

.dropdown {
  margin-top: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown select {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background: #ededed;
}

.dropdown-menu {
  position: relative;
  width: 180px;
  height: 30px;
  position: relative;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.dropdown-menu input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #dfdfdf;
  padding: 12px 20px;
  border-radius: 5px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  width: 8px;
  height: 8px;
  z-index: 5;
  border-top: 2px solid #363636;
  border-right: 2px solid #363636;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.dropdown-menu .option {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
  z-index: 5;
  border-radius: 5px;
  display: none;
}

.dropdown-menu .option a {
  display: block;
  padding: 12px 10px;
  cursor: pointer;
}

.dropdown-menu .option a:hover {
  background: #514c4c;
  color: #f9f9f9;
}

.active .option {
  display: block;
}

.chechbox-item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chechbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chechbox-item input:checked ~ .checkmark {
  background-color: #54785c;
}

.chechbox-item input:checked ~ .checkmark:after {
  display: block;
}

.chechbox-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.chechbox-item .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quantity-input__btn-dec {
  background: none;
  font-size: 25px;
  margin-top: 5px;
}

.quantity-input__btn-dec:hover {
  color: #54785c;
}

.quantity-input__btn-dec-disabled {
  color: #dfdfdf;
}

.quantity-input__value {
  text-align: center;
  background: none;
  width: 50px;
  font-size: 20px;
}

.quantity-input__btn-inc {
  background: none;
  font-size: 25px;
  margin-top: 5px;
}

.quantity-input__btn-inc:hover {
  color: #54785c;
}

.items-table {
  text-align: center;
}

.items-table td {
  padding: 20px 40px;
}

.items-table tr {
  border: 3px solid green;
}

.pagination {
  margin: 30px auto 0px auto;
  padding: 30px;
  max-height: 50px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
}

.pagination__button {
  min-width: 32px;
  height: 32px;
  border-radius: 5px;
  display: block;
  visibility: hidden;
  background: none;
}

.pagination__button ._icon-angle-left,
.pagination__button ._icon-angle-right {
  color: #363636;
  font-size: 30px;
}

.pagination__button:hover {
  background: #54785c;
}

.pagination__button:hover ._icon-angle-left,
.pagination__button:hover ._icon-angle-right {
  color: #f9f9f9;
}

.pagination__page-value {
  margin: 0 15px;
  font-size: 24px;
}

._isEnabled {
  visibility: visible;
}

.price-range {
  margin-top: -30px;
}

.price-range__box {
  position: relative;
  width: 100%;
  height: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #426072;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 5px;
  border: 3px #f9f9f9 solid;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #426072;
  pointer-events: auto;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 5px;
  background-color: #426072;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #f9f9f9;
  border: 3px solid #426072;
}

.slider-track {
  width: 100%;
  height: 3px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.values {
  background-color: #426072;
  width: 80%;
  position: relative;
  top: 70px;
  z-index: 10;
  height: 30px;
  margin: auto;
  padding: 5px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color: #f9f9f9;
}

.values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 10px solid #426072;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: auto;
  bottom: -7px;
  left: 0;
  right: 0;
  top: -45px;
}

body {
  font-size: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 00;
  line-height: 21px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #363636;
  background: #edebe8;
}

.body_white {
  background: #f9f9f9;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

a {
  color: #363636;
  -webkit-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

a:hover {
  color: #54785c;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1420px;
  margin: 0px auto;
  padding-left: 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.clip {
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  /* Добавляем многоточие */
}

/* =================================================================================== */
.hero-screen {
  background-image: url("../src/img/home/hero-screen-background.svg");
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

.hero-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 15px 20px 15px;
}

.hero-screen__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero-screen__offer {
  margin-bottom: 80px;
}

.hero-screen__title {
  margin-bottom: 20px;
}

.hero-screen__text-block {
  margin-bottom: 30px;
  max-width: 440px;
}

.hero-screen__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-left: 230px;
}

/* =================================================================================== */
.new-books {
  min-height: 625px;
  background-image: url("../src/img/home/new-books-background.svg");
  background-size: contain;
}

.new-books__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 42px;
}

.new-books__title {
  margin-bottom: 50px;
}

.new-books__title a {
  color: #f9f9f9;
}

.new-books__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-books .book-item {
  min-height: 360px;
  margin: 0px 30px;
}

/* =================================================================================== */
.most-popular-categories__container {
  padding: 70px 0px;
}

.most-popular-categories__title {
  margin-bottom: 58px;
}

.most-popular-categories__title h2 a {
  color: #f9f9f9;
}

.most-popular-categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.most-popular-categories__items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.most-popular-categories__items-row .category-item {
  margin-right: 20px;
}

.most-popular-categories__items-col .genre-item {
  margin-bottom: 20px;
}

/* =================================================================================== */
.bestsellers {
  background-image: url("../src/img/home/bestsellers-backround.svg");
  background-size: cover;
}

.bestsellers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px;
}

.bestsellers__title {
  color: #f9f9f9;
}

.bestsellers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.bestsellers__book-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  min-height: 430px;
}

.bestsellers__book-thumbnail a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.bestsellers__book-thumbnail a img {
  margin-bottom: -35px;
}

.bestsellers__book-thumbnail a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.bestsellers__book-thumbnail-center {
  min-width: 345px;
}

.bestsellers__book-thumbnail-center a img {
  margin-bottom: -38px;
}

/* ============================================================================== */
.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #edebe8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

.left-container__image {
  padding: 0px 0px 108px 0px;
}

.right-container {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-container__content .input-item {
  margin-bottom: 15px;
}

.right-container .button-large {
  margin-top: 15px;
  margin-bottom: 25px;
}

.right-container__logo {
  margin-bottom: 30px;
}

/* ====================================================== */
.categories__container {
  padding: 40px 0px;
}

.categories__title {
  margin-bottom: 40px;
}

.categories__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 18px;
}

.categories__grid .category-item {
  margin: 0px 10px 20px 10px;
}

.genres__container {
  padding: 40px 0px;
}

.genres__title {
  margin-bottom: 40px;
}

.genres__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genres__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 18px;
}

.genres__grid .genre-item {
  margin: 0px 15px 20px 15px;
}

/* ================================== */
.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.products__hieararchy-menu {
  margin-top: 40px;
  display: block;
}

.products__hieararchy-menu .menu__item {
  font-size: 18px;
  margin-right: 10px;
}

.products__hieararchy-menu .menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__hieararchy-menu .menu__item span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  margin-right: 5px;
}

.products__title {
  margin-top: 20px;
}

.products__content {
  width: 100%;
  margin-bottom: 50px;
}

.products__content .dropdown-menu {
  margin-left: 8px;
  margin-bottom: 0px;
}

.products__items {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products__items .book-item {
  margin: 0px 8px 16px 8px;
}

.filter-menu {
  max-width: 260px;
  background: #f9f9f9;
  border-radius: 15px;
  margin-right: 20px;
  margin-left: 10px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.filter-menu__header {
  width: 260px;
  height: 50px;
  background: #54785c;
  border-radius: 15px 15px 0px 0px;
  color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 15px;
}

.filter-menu__header h6 {
  text-align: center;
}

.filter-menu__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-menu__checkboxes-filter-item {
  margin-top: 15px;
  width: 100%;
  width: 210px;
}

.filter-menu__filter-header {
  margin-bottom: 10px;
  color: #426072;
}

.filter-menu__button {
  margin-top: 55px;
}

.filter-menu__border {
  display: block;
  border: 1px solid #dfdfdf;
}

.filter-menu__range-header {
  margin-top: 15px;
  color: #426072;
}

/* ========================================================== */
.profile {
  margin-bottom: 50px;
}

.profile__header {
  margin-top: 30px;
  margin-bottom: 35px;
}

.profile__info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.profile__info-header ._icon-edit,
.profile__info-header ._icon-signout {
  font-size: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile__info-header ._icon-check {
  color: #363636;
  background: none;
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-top: 10px;
}

.profile__info-header h3 {
  margin-right: 10px;
}

.profile__main {
  width: 70%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 350px;
  height: 350px;
  border-radius: 15px;
  background: #959595;
  margin-right: 50px;
}

.profile__image img {
  border-radius: 15px;
}

.profile__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__info span {
  color: #959595;
  margin: 10px 0px 20px 0px;
}

.profile__info-header {
  text-align: center;
}

.profile__info-role {
  color: #54785c;
}

.profile__info-border {
  border: 1px solid #dfdfdf;
  margin: 10px 0px;
}

.profile__info-header-input {
  width: 200px;
  height: 40px;
  margin-right: 20px;
  font-size: 24px;
  font-family: Bitter;
}

.profile__info-contact-information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__info-box {
  padding-right: 60px;
}

.profile__info-box li {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.profile .green-font {
  color: #54785c;
}

.order-history__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-history__info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-history__info a .order-history__header {
  padding-top: 40px;
  max-width: 150px;
  height: 150px;
  white-space: normal;
  vertical-align: middle;
}

.order-history__header {
  max-width: 100px;
  height: 250px;
  white-space: pre-wrap;
}

.order-history-thumbnail {
  height: 200px;
}

.basket__items-thumbnail {
  vertical-align: middle;
  padding: 10px 0px;
}

.basket__items-thumbnail a {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 150px;
  display: block;
  min-height: 130px;
}

.basket .items-table__header {
  color: #959595;
}

.basket__container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.basket__page-header {
  margin: 20px 0px 30px 0px;
}

.basket__items-info {
  min-width: 300px;
}

.basket__items-info h6 {
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}

.basket__items-close-btn {
  font-size: 24px;
}

.basket__items-price {
  width: 10px;
}

.basket__items-price h5 {
  min-width: 120px;
}

.basket__summary {
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.basket__summary-info {
  width: 80%;
}

.basket__summary-header {
  font-size: 24px;
}

.basket__summary-details {
  margin-bottom: 150px;
  min-width: 360px;
}

.basket__summary-details td {
  text-align: start;
  padding: 10px 0px;
}

.basket__summary-quantity {
  min-width: 60px;
}

.basket__summary-quantity h6 {
  text-align: center;
}

.basket__summary-total {
  width: 80%;
}

.basket__summary-total-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #54785c;
  margin-bottom: 30px;
}

.basket__summary-button {
  width: 100%;
  padding: 0;
}

.basket__summary-details-price {
  min-width: 130px;
}

.basket__summary-details-price h5 {
  text-align: end;
}

.basket__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.basket__form-input-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}

.basket__form-input-item .input-large {
  margin-right: 50px;
  width: 300px;
}

.error-message {
  font-size: 16px;
  color: #833d40;
  padding: 10px;
}

.main-page__products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-details__container {
  padding-bottom: 50px;
}

.product-details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.product-details__image-container {
  min-width: 470px;
  max-height: 740px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  border-radius: 15px;
  margin-right: 40px;
}

.product-details__image {
  min-width: 430px;
  min-height: 700px;
}

.product-details__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.product-details__header {
  margin-bottom: 5px;
}

.product-details__book-author {
  color: #54785c;
  margin-bottom: 10px;
}

.product-details__text {
  margin-top: 10px;
}

.product-details__header-border {
  display: block;
  background: #dfdfdf;
  width: 100%;
  height: 2px;
  margin-bottom: 30px;
}

.product-details__characteristics {
  width: 100%;
  background: #f9f9f9;
  border-radius: 15px;
  padding: 20px 20px 15px 20px;
  margin-bottom: 20px;
}

.product-details__characteristics-list {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

.product-details__characteristics-list li {
  margin-bottom: 5px;
}

.product-details__characteristics-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}

.product-details__characteristics-list span:first-child {
  padding-right: 0.33em;
  background: #f9f9f9;
}

.product-details__characteristics-list span + span {
  float: right;
  padding-left: 0.33em;
  background: #f9f9f9;
}

.product-details__description {
  width: 100%;
  background: #f9f9f9;
  border-radius: 15px;
  padding: 20px 20px 15px 20px;
  margin-bottom: 20px;
}
