@model List<string> 
@{
    Layout = "_Layout";
}
<section class="genres">
	<div class="genres__container">
		<div class="genres__title">
			<h1>Жанри</h1>
		</div>
		<div class="genres__items">
			<div class="genres__grid">
				@for (int i = 0; i < Model.Count; i++)
				{
					<div class="genre-item">
						<a href="/Books/Genre/@Model[i]" class="genre-item__content">
							<div class="genre-item__box">
								<h5 class="genre-item__title">@Model[i]</h5>
								<div class="genre-item__btn">
									<span class="_icon-angle-right"></span>
								</div>
							</div>
						</a>
					</div>	
				}
			</div>
		</div>
	</div>
</section>