﻿@{
    ViewData["Title"] = "YourBook";
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/slider.css">
	<link rel="stylesheet" href="../lib/slick/slick.css">
	<link rel="stylesheet" href="../lib/slick/slick-theme.css">
	<title>Document</title>
</head>

<body>
	<div class="wrapper">
		<header class="header-home">
			<div class="header-home__container">
				<a href="" class="header-home__logo">
					<img src="/src/img/ui/logo.svg" alt="Логотип">
				</a>
				<nav class="header-home__menu menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="/Home" class="menu__link">Головна</a></li>
						<li class="menu__item"><a href="/Categories" class="menu__link">Категорії</a></li>						
						<li class="menu__item"><a href="/Genres" class="menu__link">Жанри</a></li>
						<li class="menu__item"><a href="/Books/Bestsellers" class="menu__link">Бестселери</a></li>
						<li class="menu__item"><a href="/Books/New" class="menu__link">Новинки</a></li>
					</ul>
				</nav>
				<div class="header__actions">
					 @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Profile" class="user-menu-item"><span class="_icon-user"></span></a>
                    }
                    else
                    {
                        <a href="/SignIn" class="user-menu-item"><span class="_icon-user"></span></a>
                    }
					<a  href="/Basket" class="cart-menu-item">
						<span class="_icon-shopping-cart"></span>
						<span class="price"></span>
					</a>
				</div>
			</div>
		</header>
		<main class="main">
			<section class="hero-screen">
				<div class="hero-screen__container">
					<div class="hero-screen__content">
						<div class="hero-screen__offer">
							<h1 class="hero-screen__title">Поповніть вашу бібліотеку</h1>
							<div class="hero-screen__text-block _large-interface-font">
								Величезний вибір книг будь-яких жанрів та авторів у нашому магазині YourBook
							</div>
							<a href="/Books/All" class="button-large">До магазину</a>
						</div>
					</div>
					<div class="hero-screen__image">
						<img src="../src/img/home/main-block-picture.svg" alt="Картинка людей з книгами">
					</div>
				</div>
			</section>
			<section class="new-books">
				<div class="new-books__container">
					<div class="new-books__title">
						<a href=""><h2>НАШІ НОВИНКИ</h2></a>
					</div>
					<div class="main-page__products-items products-items">
						<div class="book-item-box">
							<div class="book-item book-item_new">
								<span class="book-item__new-sign _regular-interface-font">NEW</span>
								<a href="/Books/000006" class="book-item__image _ibg">
									<img src="src/img/books/000006.jpg"
									     alt=""></a>
								<div class="book-item__info">
									<a href="/Books/000006" class="book-item__title">
										<h6>За п'ять кроків до кохання</h6>
									</a>
									<a href="/Books/000006" class="book-item__author _description-font">Рейчел Ліппінкотт</a>
								</div>
								<div class="book-item__box">
									<div class="book-item__price">
										<h5>116</h5>
										<h6>грн</h6>
									</div>
									<a href="/Books/Buy/000006" class="book-item__buy-button">
										<span
											class="_icon-shopping-cart"></span></a>
								</div>
							</div>
						</div>
						<div class="book-item-box">
                        <div class="book-item book-item_new">
                        	<span class="book-item__new-sign _regular-interface-font">NEW</span>
                        	<a href="/Books/000032" class="book-item__image _ibg">
                        		<img src="src/img/books/000032.jpg"
                        		     alt=""></a>
                        	<div class="book-item__info">
                        		<a href="/Books/000032"  class="book-item__title">
	                                <h6>Місяць війни. Хроніка подій. Промови та звернення Президента України Володимира Зеленського</h6>
                        		</a>
                        		<a href="/Books/000032"  class="book-item__author _description-font">Олександр Красовицький</a>
                        	</div>
                        	<div class="book-item__box">
                        		<div class="book-item__price">
                        			<h5>190</h5>
                        			<h6>грн</h6>
                        		</div>
                        		<a href="/Books/000032" class="book-item__buy-button">
                        			<span
                        				class="_icon-shopping-cart"></span></a>
                        	</div>
                        </div>
                    </div>
                    <div class="book-item-box">
                    <div class="book-item book-item_new">
                        <span class="book-item__new-sign _regular-interface-font">NEW</span>
	                    <a href="/Books/000007" class="book-item__image _ibg">
                            <img src="src/img/books/000007.JPG"
                                 alt=""></a>
                        <div class="book-item__info">
                            <a href="/Books/000007" class="book-item__title">
                                <h6>Хід королеви                </h6>
                            </a>
                            <a href="/Books/000007" class="book-item__author _description-font"></a>
                        </div>
                        <div class="book-item__box">
                            <div class="book-item__price">
	                            <h5>265</h5>
                                <h6>грн</h6>
                            </div>
                            <a href="/Books/Buy/000007" class="book-item__buy-button">
                                <span
                                    class="_icon-shopping-cart"></span></a>
                        </div>
                    </div>
                </div>
                <div class="book-item-box">
                <div class="book-item book-item_new">
                    <span class="book-item__new-sign _regular-interface-font">NEW</span>
                    <a href="/Books/000012" class="book-item__image _ibg">
                        <img src="src/img/books/000012.jpg"
                             alt=""></a>
                    <div class="book-item__info">
                        <a href="/Books/000012" class="book-item__title">
                            <h6>Буде боляче</h6>
                        </a>
                        <a href="/Books/000012" class="book-item__author _description-font">Адам Кей</a>
                    </div>
                    <div class="book-item__box">
                        <div class="book-item__price">
                            <h5>120</h5>
                            <h6>грн</h6>
                        </div>
                        <a href="/Books/Buy/000012" class="book-item__buy-button">
                            <span
                                class="_icon-shopping-cart"></span></a>
                    </div>
                </div>
            </div>
					</div>
				</div>

			</section>
			<section class="most-popular-categories">
				<div class="most-popular-categories__container">
					<div class="most-popular-categories__title">
						<a href=""><h2>Популярні категорії та жанри</h2></a>
					</div>
					<div class="most-popular-categories__items">
						<div class="most-popular-categories__items-row">
							<!--CATEGORY ITEM-->
							<div class="category-item">
								<a href="/Genres/Нон-фікшн%20література" class="category-item__content">
									<div class="category-item__box">
										<h5 class="category-item__title">Фікшн література</h5>
										<div class="category-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<div class="category-item">
								<a href="/Genres/Фікшн%20література" class="category-item__content">
									<div class="category-item__box">
										<h5 class="category-item__title">Нон-фікшн література</h5>
										<div class="category-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<!--CATEGORY ITEM-->
						</div>
						<div class="most-popular-categories__items-col">
							<!--GENRE ITEM-->
							<div class="genre-item">
								<a href="/Books/Genre/Роман" class="genre-item__content">
									<div class="genre-item__box">
										<h5 class="genre-item__title">Роман</h5>
										<div class="genre-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<div class="genre-item">
								<a href="/Books/Genre/Саморозвиток" class="genre-item__content">
									<div class="genre-item__box">
										<h5 class="genre-item__title">Саморозвиток</h5>
										<div class="genre-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<div class="genre-item">
								<a href="/Books/Genre/Детектив" class="genre-item__content">
									<div class="genre-item__box">
										<h5 class="genre-item__title">Детектив</h5>
										<div class="genre-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<div class="genre-item">
								<a href="/Books/Genre/Науково-популярна%20література" class="genre-item__content">
									<div class="genre-item__box">
										<h5 class="genre-item__title">Науково-популярна література</h5>
										<div class="genre-item__btn">
											<span class="_icon-angle-right"></span>
										</div>
									</div>
								</a>
							</div>
							<!--GENRE ITEM-->
						</div>
					</div>
				</div>
			</section>
			<section class="bestsellers">
				<div class="bestsellers__container">
					<div>
						<a href="/Books/Bestsellers"><h2  class="bestsellers__title">ХІТИ ПРОДАЖУ</h2></a>
					</div>
					<div class="bestsellers__items">
						<div class="bestsellers__book-thumbnail">
							<a href="/Books/000002">
								<img src="src/img/home/1984.png" alt="">
							</a>
							<img class="bestsellers__shelf-img" src="../src/img/home/shelf.svg" alt="">
						</div>
						<div class="bestsellers__book-thumbnail bestsellers__book-thumbnail-center">
							<a href="/Books/000052">
								<img src="src/img/home/half_king.png" alt="">
							</a>
							<img class="bestsellers__shelf-img" src="../src/img/home/shelf.svg" alt="">
						</div>
						<div class="bestsellers__book-thumbnail">
							<a href="/Books/000051">
								<img src="src/img/home/black-swan.png" alt="">
							</a>
							<img class="bestsellers__shelf-img" src="../src/img/home/shelf.svg" alt="">
						</div>
					</div>
					<a href="/Books/Bestsellers" class="button-large button_white">
						Переглянути всі
					</a>
				</div>
			</section>
		</main>
	</div>
	<footer class="footer">
		<div class="footer__content _regular-font">
			<a href=""><img src="../src/img/ui/logo_white.svg" alt=""></a>
			<nav>
				<a href="">
					Instagram
				</a>
				<a href="">
					Telegram
				</a>
			</nav>
			<span>©2022 YourBook. All Rights Reserved. </span>
		</div>
	</footer>



	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../src/js/main.js"></script>
	<script src="../src/js/header.js"></script>
</body>

</html>