﻿<!DOCTYPE html>
<html lang="en">

<head>
     @await Html.PartialAsync("MetatagsPartial")
     @await Html.PartialAsync("CSSPartial")
</head>
<body class="body">
<div class="wrapper">
    @await Html.PartialAsync("HeaderPartial")
    <div class="wrapper">
        <main class="main">
            <!--RENDER BODY-->
            @RenderBody()
            <!--RENDER BODY-->
        </main>
    </div>
</div>
@await Html.PartialAsync("FooterPartial")
@await Html.PartialAsync("ScriptsPartial")
</body>
</html>