<footer class="footer">
    <div class="footer__content _regular-font">
        <a href=""><img src="../src/img/ui/logo_white.svg" alt=""></a>
        <nav>
            <a href="">
                Instagram
            </a>
            <a href="">
                Telegram
            </a>
        </nav>
        <span>©2022 YourBook. All Rights Reserved. </span>
    </div>
</footer>