<header class="header">
    <div class="header__container">
        <a href="/Home" class="header__logo">
            <img src="/src/img/ui/logo.svg" alt="Логотип">
        </a>
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="/Categories" class="menu__link">Категорії</a></li>						
                <li class="menu__item"><a href="/Genres" class="menu__link">Жанри</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" name="search" placeholder="Назва книги..."
                   class="search-bar__input _input-description-font">
            <a href="#" class="search-bar__button">
                <span class="_icon-search"></span>
            </a>
        </div>
        <div class="header__actions">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Profile" class="user-menu-item"><span class="_icon-user"></span></a>
            }
            else
            {
                <a href="/SignIn" class="user-menu-item"><span class="_icon-user"></span></a>
            }
            
            <a href="/Basket" class="cart-menu-item">
                <span class="_icon-shopping-cart"></span>
                
            </a>
        </div>
       
    </div>
</header>