@model OrderViewModel
@{
	Layout = "_LayoutWhite";
}
<div class="basket">
	<div class="basket__container">
		<form asp-area="" asp-controller="Order" asp-action="MakeOrder" method="post">
			
			
			<div class="basket__main">
				<ul class="hiararchy-menu__list menu__list _regular-font">
					<li class="menu__item">
						<a href=""><span class=" _icon-angle-left"></span>Назад до магазину</a>
						
				</ul>
				
				<h1 class="basket__page-header">Оформлення замовлення</h1>
				<div class="basket__form">
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Ім'я*</h6>
						</label>
						<span asp-validation-for="FirstName" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.FirstName, new { placeholder = "Ім'я*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Прізвище*</h6>
						</label>
						<span asp-validation-for="SecondName" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.SecondName, new { placeholder = "Прізвище*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Email*</h6>
						</label>
						<span asp-validation-for="Email" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.Email, new { placeholder = "Email*", type = "email", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Номер телефону*</h6>
						</label>
						<span asp-validation-for="Phone" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.Phone, new { placeholder = "Номер телефону*", type = "tel", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Місто*</h6>
						</label>
						<span asp-validation-for="ShipAddress" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.ShipAddress, new { placeholder = "Місто та адреса доставки*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Поштовий індекс*</h6>
						</label>
						<span asp-validation-for="PostalCode" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.PostalCode, new { placeholder = "Ваш поштовий індекс*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Ім'я карти*</h6>
						</label>
						<span asp-validation-for="CardHolderName" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.CardHolderName, new { placeholder = "Ім'я карти*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Номер карти*</h6>
						</label>
						<span asp-validation-for="CardNumber" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.CardNumber, new { placeholder = "Номер карти*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>Термін дії*</h6>
						</label>
						<span asp-validation-for="ExpirationsDate" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.ExpirationsDate, new { placeholder = "MM/YYYY", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>
					<div class="basket__form-input-item input-item">
						<label class="input-item__label" for="password">
							<h6>CVV</h6>
						</label>
						<span asp-validation-for="CVV" class="error-message validation-error _regular-interface-font"></span>
						@Html.TextBoxFor(m => m.CVV, new { placeholder = "CVV*", type = "text", @class = "text-input input-large _input-large-description-font" })
					</div>


				</div>

			</div>
			<div class="basket__summary">
				
				<div class="basket__summary-total">
					<div class="basket__summary-total-value">
						<h4>Всього:</h4>
						<h4>1234.00 ₴</h4>
					</div>
					<button type="submit" class="basket__summary-button button-large">Підтвердити замовлення</button>
				</div>
			</div>
		</form>
	</div>
</div>