//colors
$white: #f9f9f9;
$beige: #edebe8;
$light-gray: #ededed;
$medium-light-gray: #dfdfdf;
$medium-gray: #959595;
$gray: #514c4c;
$black: #363636;
$green: #54785c;
$blue: #426072;
$red: #833d40;
$yellow: #d6c25d;
