.footer {
	width: 100%;
	height: 145px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("..//src/img/home/footer.svg");
	padding: 20px 0px;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: #8495A6;
		height: 100%;
		a
		{
			color: #8495A6;
			
		}
	}
}

