.sign-in-form, .sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	
}

.sign-form__redirect
	{
		span
		{
			margin-right: 5px;
		}
		a{
			color: $green;
			border-bottom: 1px solid #54785C;
			padding-bottom: 2px;
		}
	}






