///# imports
@import "_colors";

.header-home {
	position: fixed;
	background: none;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));

	&__container {
		display: flex;
		min-height: 80px;
		align-items: center;
		position: relative;
	}

	&__logo {
	}

	&__menu {
		flex: 1 1 auto;
		.menu__item
		{
			margin-right: 50px;
		}
	}

	&__actions {
		flex: 0 0 300px;
		display: flex;
		justify-content: flex-end;
		span {
			vertical-align: middle;
		}
		.user-menu-item {
			font-size: 32px;
			margin-right: 30px;
		}
		.cart-menu-item {
			font-size: 32px;
			margin-right: 10px;
		}
		.price {
			font-size: 16px;
		}
	}

	&_fixed {
		position: fixed;
		background-color: $beige;
		left: 0;
		top: 0;
	}
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: $white ;

	&__container {
		display: flex;
		min-height: 80px;
		align-items: center;
		position: relative;
		justify-content: space-between;
	}

	&__menu {
		flex: 1 1 auto;
		.menu__item
		{
			margin-right: 50px;
		}
	}


	.search-bar {
		width: 680px;
		height: 50px;
		.search-bar__input
		{
			width: 570px;
		}
	}

	&__categories-btn {
		flex: 0 0 30px;
	}

	&__actions {
		flex: 0 0 300px;
		display: flex;
		justify-content: flex-end;
		span {
			vertical-align: middle;
		}
		.user-menu-item {
			font-size: 32px;
			margin-right: 30px;
		}
		.cart-menu-item {
			font-size: 32px;
			margin-right: 10px;
		}
		.price {
			font-size: 16px;
		}
	}

	&_fixed {
		position: fixed;
		
	filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.05));
		left: 0;
		top: 0;
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	&__list {
		display: flex;
	}

	&__item {
	}

	&__link {
	}
}
