@font-face {
	font-family: "icons";
	src: url("../src/fonts/icons.ttf?eu9pjo") format("truetype"), url("../src/fonts/icons.woff?eu9pjo") format("woff"),
		url("../src/fonts/icons.svg?eu9pjo#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


._icon-check:before {
	content: "\e90d";
  }
  ._icon-signout:before {
	content: "\e90e";
  }
  ._icon-angle-down:before {
	content: "\e900";
  }
  ._icon-angle-left:before {
	content: "\e901";
  }
  ._icon-angle-right:before {
	content: "\e902";
  }
  ._icon-close:before {
	content: "\e903";
  }
  ._icon-edit:before {
	content: "\e904";
  }
  ._icon-insta:before {
	content: "\e905";
  }
  ._icon-minus:before {
	content: "\e906";
  }
  ._icon-plus:before {
	content: "\e907";
  }
  ._icon-search:before {
	content: "\e908";
  }
  ._icon-shopping-cart:before {
	content: "\e909";
  }
  ._icon-star:before {
	content: "\e90a";
  }
  ._icon-telegram:before {
	content: "\e90b";
  }
  ._icon-user:before {
	content: "\e90c";
  }
  