///# imports
@import "_colors";

///# headers

h1 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
}

h2 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
}

h3 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
}

h4 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
}

h5 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

h6 {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

///# main fonts

._regular-interface-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	font-feature-settings: "pnum" on, "lnum" on;
}

._large-interface-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	font-feature-settings: "pnum" on, "lnum" on;
}

._regular-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	font-feature-settings: "pnum" on, "lnum" on;
}

._description-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

._input-description-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-feature-settings: "pnum" on, "lnum" on;
}

._input-large-description-font {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
}

///# inputs
.search-bar {
	background: $light-gray;
	box-shadow: none;
	height: 50px;
	width: 480px;
	padding: 14px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
	transition: 0.8s;
	&__input {
		background: transparent;
		border: none;
		outline: none;
		width: 350px;
		font-weight: 500;
		font-size: 16px;
		transition: 0.8s;
	}

	&__button {
	}
	._icon-search {
		font-size: 24px;
		margin-left: 40px;
	}

	&_white {
		background: $white;
		box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.02);
	}
}

//

///# Cards

// Book item card

.book-item {
	width: 260px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 20px 0px;
	background-color: $white;
	border-radius: 15px;
	box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
	transition: all 0.3s 0s ease;
	position: relative;

	&__new-sign {
		color: #833d40;
		transform: rotate(-90deg);
		display: none;
		position: absolute;
		top: 20;
		left: 210px;
	}

	&_new {
		.book-item__new-sign {
			display: block;
		}
	}

	&__image {
		min-width: 170px;
		min-height: 200px;
		box-sizing: border-box;
	}

	&__info {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	&__title {
		width: 100%;
		margin-bottom: 5px;
		h6 {
			display: block;
			margin-bottom: 10px;
			overflow: hidden; /* Обрезаем все, что не помещается в область */
			text-overflow: ellipsis; /* Добавляем многоточие */

			white-space: nowrap;
		}
	}

	&__author {
		width: 100%;
	}

	&__box {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		height: 30px;
		margin-bottom: 20px;
	}

	&__price {
		display: flex;
		color: $green;
		h5 {
			margin-right: 5px;
		}
		h6 {
			margin-top: 5px;
		}
	}

	&__buy-button {
		font-size: 32px;
		color: $blue;
		&:hover {
			color: $green;
		}
	}

	&:hover {
		transform: scale(1.05);
		.book-item__title {
			h6 {
				white-space: normal;
			}
		}
		position: absolute;
		z-index: 7;
	}
}
.book-item-box {
	width: 260px;
	height: 358px;
	box-sizing: border-box;
	margin: 9px;
}

.book-item-box:hover::after {
	content: "";
	width: 260px;
	height: 358px;
	display: block;
}

//Category card item

.category-item {
	width: 400px;
	height: 400px;
	box-sizing: border-box;
	border-radius: 15px;
	background-size: contain;
	position: relative;
	transition: all 0.3s 0s ease;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 400px;
		height: 400px;
		position: relative;
		border-radius: 15px;
		background: linear-gradient(360deg, rgba(0, 0, 0, 0.78) -55.33%, rgba(217, 217, 217, 0) 100%),
			url("../src/img/cards/card.jpg");
	}

	&__box {
		display: flex;
		width: 100%;
		justify-content: space-between;
		height: 30px;
		align-items: center;
		margin-bottom: 30px;
		padding: 0px 30px;
		z-index: 10;
	}

	&__title {
		color: $white;
	}

	&__btn {
		width: 50px;
		height: 50px;
		background: $white;
		border-radius: 100%;
		text-align: center;
		padding: 13px 0px 13px 1px;
		transition: all 0.3s 0s ease;
	}

	&__btn:hover {
		background: $black;
		._icon-angle-right {
			color: white;
		}
	}

	._icon-angle-right {
		color: $black;
		font-size: 24px;
	}

	&:hover {
		transform: scale(1.02);
	}
}

// Genre card item
.genre-item {
	width: 400px;
	height: 85px;
	box-sizing: border-box;
	border-radius: 15px;
	background-size: contain;
	position: relative;
	transition: all 0.3s 0s ease;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 400px;
		height: 85px;
		position: relative;
		border-radius: 15px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -63.5%, rgba(217, 217, 217, 0) 120.5%),
			url("../src/img/cards/card.jpg");
	}

	&__box {
		display: flex;
		width: 100%;
		justify-content: space-between;
		height: 30px;
		align-items: center;
		margin-bottom: 30px;
		padding: 0px 30px;
		z-index: 10;
	}

	&__title {
		color: $white;
	}

	&__btn {
		width: 50px;
		height: 50px;
		background: $white;
		border-radius: 100%;
		text-align: center;
		padding: 13px 0px 13px 1px;
		transition: all 0.3s 0s ease;
	}

	&__btn:hover {
		background: $black;
		._icon-angle-right {
			color: white;
		}
	}

	._icon-angle-right {
		color: $black;
		font-size: 24px;
	}

	&:hover {
		transform: scale(1.02);
	}
}

// buttons
.button-large {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 50px;
	width: 300px;
	height: 50px;
	box-sizing: border-box;
	background: $green;
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: $white;
	border-radius: 15px;
	&:hover {
		background: $white;
		color: $green;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	}
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	width: 190px;
	height: 40px;
	box-sizing: border-box;
	background: $green;
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	color: $white;
	border-radius: 15px;
	&:hover {
		background: $white;
		color: $green;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	}
}

.button_white {
	background: $white;
	color: $black;
	&:hover {
		background: $black;
		color: $white;
	}
}

.button_gray {
	background: $medium-light-gray;
	color: $black;
	&:hover {
		background: $green;
		color: $white;
	}
}

.input-item {
	display: flex;
	flex-direction: column;
	&__label {
		display: block;
		margin-bottom: 15px;
	}
}

.text-input {
	box-sizing: border-box;
	width: 190px;
	height: 35px;
	padding: 14px 20px;
	background: $white;
	border: 2px solid $medium-light-gray;
	border-radius: 15px;
	&::placeholder {
		color: $medium-gray;
	}
}

.input-large {
	width: 440px;
	height: 50px;
}

//dropdown menu

.dropdown {
	margin-top: 20px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	select {
		margin-top: 10px;
		width: 200px;
		height: 30px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		background: $light-gray;
	}
}

.dropdown-menu {
	position: relative;
	width: 180px;
	height: 30px;
	position: relative;
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 20px;
	input {
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: $medium-light-gray;
		padding: 12px 20px;
		border-radius: 5px;
	}
	&::before {
		content: "";
		position: absolute;
		right: 20px;
		top: 10px;
		width: 8px;
		height: 8px;
		z-index: 5;
		border-top: 2px solid $black;
		border-right: 2px solid $black;
		transform: rotate(135deg);
		transition: 0.5s;
		pointer-events: none;
	}

	.option {
		position: absolute;
		width: 100%;
		background-color: $white;
		overflow: hidden;
		z-index: 5;

		border-radius: 5px;
		a {
			display: block;
			padding: 12px 10px;
			cursor: pointer;
			&:hover {
				background: $gray;
				color: $white;
			}
		}
		display: none;
	}
}

.active {
	.option {
		display: block;
	}
}

// checkbox

.chechbox-item {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: $green;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: #ccc;
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 6px;
			top: 2px;
			width: 7px;
			height: 10px;
			border: solid white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	background-color: #eee;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

// quantity input
.quantity-input {
	display: flex;
	box-sizing: border-box;
	&__btn-dec {
		background: none;
		font-size: 25px;
		margin-top: 5px;
		&:hover {
			color: $green;
		}
	}

	&__btn-dec-disabled {
		color: $medium-light-gray;
	}

	&__value {
		text-align: center;
		background: none;
		width: 50px;
		font-size: 20px;
	}

	&__btn-inc {
		background: none;
		font-size: 25px;
		margin-top: 5px;
		&:hover {
			color: $green;
		}
	}
}

// table

.items-table {
	td {
		padding: 20px 40px;
	}
	tr {
		border: 3px solid green;
	}
	text-align: center;
	&__header {
	}
	&__item {
	}
}

// pagination

//

.pagination {
	margin: 30px auto 0px auto;
	padding: 30px;
	max-height: 50px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black;
	&__button {
		min-width: 32px;
		height: 32px;
		border-radius: 5px;
		display: block;
		._icon-angle-left,
		._icon-angle-right {
			color: $black;
			font-size: 30px;
		}
		visibility: hidden;
		background: none;
	}

	&__button:hover {
		background: $green;
		._icon-angle-left,
		._icon-angle-right {
			color: $white;
		}
	}
	&__page-value {
		margin: 0 15px;
		font-size: 24px;
	}
}

._isEnabled {
	visibility: visible;
}

// price range
.price-range {
	&__box {
		position: relative;
		width: 100%;
		height: 30px;
	}
	margin-top: -30px;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: transparent;
	pointer-events: none;
	&::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		height: 5px;
	}
	&::-moz-range-track {
		-moz-appearance: none;
		height: 5px;
	}
	&::-ms-track {
		appearance: none;
		height: 5px;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 1.7em;
		width: 1.7em;
		background-color: $blue;
		cursor: pointer;
		margin-top: -9px;
		pointer-events: auto;
		border-radius: 5px;
		border: 3px $white solid;
	}
	&::-moz-range-thumb {
		-webkit-appearance: none;
		height: 1.7em;
		width: 1.7em;
		cursor: pointer;
		border-radius: 5px;
		background-color: $blue;
		pointer-events: auto;
	}
	&::-ms-thumb {
		appearance: none;
		height: 1.7em;
		width: 1.7em;
		cursor: pointer;
		border-radius: 5px;
		background-color: $blue;
		pointer-events: auto;
	}
	&:active {
		&::-webkit-slider-thumb {
			background-color: $white;
			border: 3px solid $blue;
		}
	}
}
.slider-track {
	width: 100%;
	height: 3px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	border-radius: 5px;
}
.values {
	background-color: $blue;
	width: 80%;
	position: relative;
	top: 70px;
	z-index: 10;
	height: 30px;
	margin: auto;
	padding: 5px 0;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	color: $white;
	&:before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		border-top: 10px solid $blue;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		transform: rotate(180deg);
		margin: auto;
		bottom: -7px;
		left: 0;
		right: 0;
		top: -45px;
	}
}
