//# imports
@import "_nullstyle";
@import "_fonts";
@import "_icons";
@import "_header";
@import "_footer";
@import "_forms";
@import "_ui";
@import "_colors";
//# end imports

//# variables

//sizes

$ct-width: 1420px; //basic container width

//# end variables

body {
	font-size: 16px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 00;
	line-height: 21px;
	font-feature-settings: "pnum" on, "lnum" on;
	color: $black;
	background: $beige;
}

.body_white {
	background: $white;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

a {
	color: $black;
	transition: all 0.5s 0s ease;
	&:hover {
		color: $green;
	}
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: $ct-width;
	margin: 0px auto;
	padding-left: 15px;
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
	}
}

.clip {
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */
}
/* =================================================================================== */

.hero-screen {
	background-image: url("../src/img/home/hero-screen-background.svg");
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	&__container {
		display: flex;
		align-items: center;
		padding: 40px 15px 20px 15px;
	}

	&__content {
		flex: 0 1 50%;
	}

	&__offer {
		margin-bottom: 80px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text-block {
		margin-bottom: 30px;
		max-width: 440px;
	}

	&__image {
		flex: 0 1 50%;
		margin-left: 230px;
	}
}

/* =================================================================================== */

.new-books {
	min-height: 625px;
	background-image: url("../src/img/home/new-books-background.svg");
	background-size: contain;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 42px;
	}

	&__title {
		a {
			color: $white;
		}
		margin-bottom: 50px;
	}

	&__items {
		display: flex;
	}
	.book-item {
		min-height: 360px;
		margin: 0px 30px;
	}
}

/* =================================================================================== */

.most-popular-categories {
	&__container {
		padding: 70px 0px;
	}

	&__title {
		margin-bottom: 58px;
		h2 {
			a {
				color: $white;
			}
		}
	}

	&__items {
		display: flex;
		justify-content: center;
	}

	&__items-row {
		display: flex;
		.category-item {
			margin-right: 20px;
		}
	}

	&__items-col {
		.genre-item {
			margin-bottom: 20px;
		}
	}
}

/* =================================================================================== */

.bestsellers {
	background-image: url("../src/img/home/bestsellers-backround.svg");
	background-size: cover;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 70px 0px;
	}

	&__title {
		color: $white;
	}

	&__items {
		display: flex;
		margin-bottom: 60px;
	}

	&__book-thumbnail {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 300px;
		min-height: 430px;

		a {
			display: block;
			box-sizing: border-box;
			transition: all 0.3s 0s ease;
			img {
				margin-bottom: -35px;
			}
		}

		a:hover {
			transform: scale(1.1);
		}

		&-center {
			min-width: 345px;
			a {
				img {
					margin-bottom: -38px;
				}
			}
		}
	}
}

/* ============================================================================== */
.row-container {
	display: flex;
}

.left-container {
	flex: 0 0 50%;
	background-color: $beige;
	box-sizing: border-box;
	min-height: 100vh;
	&__image {
		padding: 0px 0px 108px 0px;
	}
}
.right-container {
	min-height: 100%;
	box-sizing: border-box;
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		.input-item {
			margin-bottom: 15px;
		}
	}

	.button-large {
		margin-top: 15px;
		margin-bottom: 25px;
	}

	&__logo {
		margin-bottom: 30px;
	}
}

/* ====================================================== */
.categories {
	&__container {
		padding: 40px 0px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		padding-left: 18px;
		.category-item {
			margin: 0px 10px 20px 10px;
		}
	}
}

.genres {
	&__container {
		padding: 40px 0px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		padding-left: 18px;
		.genre-item {
			margin: 0px 15px 20px 15px;
		}
	}
}

/* ================================== */
.products {
	&__container {
		display: flex;
	}

	&__header {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}

	&__hieararchy-menu {
		margin-top: 40px;
		display: block;
		.menu__item {
			a {
				display: flex;
			}
			font-size: 18px;
			margin-right: 10px;
			span {
				display: inline-flex;
				font-size: 18px;
				margin-right: 5px;
			}
		}
	}

	&__title {
		margin-top: 20px;
	}

	&__filter-menu {
		
	}

	&__content {
		width: 100%;
		.dropdown-menu {
			margin-left: 8px;
			margin-bottom: 0px;
		}
		margin-bottom: 50px;
	}

	&__items {
		padding-top: 20px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		.book-item {
			margin: 0px 8px 16px 8px;
		}
	}
}

.filter-menu {
	max-width: 260px;
	background: $white;
	border-radius: 15px;
	margin-right: 20px;
	margin-left: 10px;
	padding-bottom: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	&__header {
		width: 260px;
		height: 50px;
		background: $green;
		border-radius: 15px 15px 0px 0px;
		color: $white;
		box-sizing: border-box;
		padding-top: 15px;
		h6 {
			text-align: center;
		}
	}
	&__filters {
		display: flex;
		flex-direction: column;
	}

	&__checkboxes-filter-item {
		margin-top: 15px;
		width: 100%;
		width: 210px;
	}

	&__filter-header {
		margin-bottom: 10px;

		color: $blue;
	}

	&__button {
		margin-top: 55px;
	}

	&__checkboxes {
	}

	&__border {
		display: block;
		border: 1px solid #dfdfdf;
	}

	&__range-header {
		margin-top: 15px;
		color: $blue;
	}
}

/* ========================================================== */

.profile {
	margin-bottom: 50px;
	&__container {
	}

	&__header {
		margin-top: 30px;
		margin-bottom: 35px;
	}

	&__info-header {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		._icon-edit,
		._icon-signout {
			font-size: 32px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		._icon-check {
			color: $black;
			background: none;
			font-size: 40px;
			margin-right: 10px;
			margin-bottom: 10px;
			margin-left: -10px;
			margin-top: 10px;
		}

		h3 {
			margin-right: 10px;
		}
	}

	&__main {
		width: 70%;
		margin: 0 auto;
		box-sizing: border-box;
		display: flex;
	}

	&__image {
		box-sizing: border-box;
		min-width: 350px;
		height: 350px;
		border-radius: 15px;
		img {
			border-radius: 15px;
		}
		background: $medium-gray;
		margin-right: 50px;
	}

	&__info {
		flex: 0 0 70%;
		display: flex;
		flex-direction: column;
		span {
			color: $medium-gray;
			margin: 10px 0px 20px 0px;
		}
	}

	&__info-header {
		text-align: center;
	}

	&__info-role {
		color: $green;
	}

	&__info-border {
		border: 1px solid #dfdfdf;
		margin: 10px 0px;
	}

	&__info-header-input {
		width: 200px;
		height: 40px;
		margin-right: 20px;
		font-size: 24px;
		font-family: Bitter;
	}

	&__info-contact-information-container {
		display: flex;
	}

	&__info-box {
		padding-right: 60px;
		li {
			height: 40px;
			display: flex;

			align-items: center;
			margin-bottom: 20px;
		}
	}
	.green-font {
		color: $green;
	}
}

.order-history {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__info {
	}

	&__price {
	}
}

.order-history__info {
	a{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.order-history__header {
			padding-top: 40px;
			max-width: 150px;
			height: 150px;
			white-space: normal;
			vertical-align: middle;		
	}
	}
}

.order-history__header {
		max-width: 100px;
		height: 250px;
		white-space: pre-wrap;
	
}

.order-history-thumbnail {
	height: 200px;
}

///
///
///
.basket {
	&__items-thumbnail {
		vertical-align: middle;
		padding: 10px 0px;
		a {
			margin: 0;
			box-sizing: border-box;
			min-width: 150px;
			display: block;
			min-height: 130px;
		}
	}

	.items-table__header {
		color: $medium-gray;
	}
}

.basket {
	&__container {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__page-header {
		margin: 20px 0px 30px 0px;
	}

	&__items-info {
		min-width: 300px;
		h6 {
			text-align: center;
			vertical-align: middle;
			white-space: normal;
		}
	}

	&__items-close-btn {
		font-size: 24px;
	}

	&__items-price {
		width: 10px;
		h5 {
			min-width: 120px;
		}
	}

	&__summary {
		margin-top: 60px;
		box-sizing: border-box;
		min-width: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;
	}

	&__summary-info {
		width: 80%;
	}

	&__summary-header {
		font-size: 24px;
	}

	&__summary-details {
		margin-bottom: 150px;
		min-width: 360px;
		td {
			text-align: start;
			padding: 10px 0px;
		}
	}

	&__summary-quantity {
		min-width: 60px;
		h6 {
			text-align: center;
		}
	}

	&__summary-total {
		width: 80%;
	}

	&__summary-total-value {
		display: flex;
		font-size: 24px;
		justify-content: space-between;
		color: $green;
		margin-bottom: 30px;
	}

	&__summary-button {
		width: 100%;
		padding: 0;
	}

	&__summary-details-price {
		min-width: 130px;
	}

	&__summary-details-price {
		h5 {
			text-align: end;
		}
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
	}

	&__form-input-item {
		box-sizing: border-box;
		margin-bottom: 40px;
		.input-large {
			margin-right: 50px;
			width: 300px;
		}
	}
}

.error-message {
	font-size: 16px;
	color: $red;
	padding: 10px;
}

.main-page__products-items {
	display: flex;
}

.product-details {

	&__container {
		padding-bottom: 50px;
	}

	&__nav {

	}

	&__content {
		display: flex;	
		justify-content: center;
		margin-top: 50px;
	}

	&__image-container {
		min-width: 470px;
		max-height: 740px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: $white;
		border-radius: 15px;
		margin-right: 40px;
	}

	&__image {		
		min-width: 430px;
		min-height: 700px;
	}

	&__info {				
		flex: 0 0 35%;
	}

	&__header {
		margin-bottom: 5px;
	}

	&__book-author {
		color: $green;
		margin-bottom: 10px;
	}

	&__book-title {
	}
	
	&__text {
		margin-top: 10px;
		
	}

	&__header-border{
		display: block;
		background: $medium-light-gray;
		width: 100%;
		height: 2px;
		margin-bottom: 30px;
	}

	&__characteristics {
		width: 100%;
		background: $white;
		border-radius: 15px;
		padding: 20px 20px 15px 20px;	
		margin-bottom: 20px;
		
	}
	&__characteristics-list {
		padding: 0;
		overflow-x: hidden;
		list-style: none;
		li {
			margin-bottom: 5px;
			&:before {
				float: left;
				width: 0;
				white-space: nowrap;
				content: ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . ";
			}
		}
		span {
			&:first-child {
				padding-right: 0.33em;
				background: $white;
			}
			+ {
				span {
					float: right;
					padding-left: 0.33em;
					background: $white;
				}
			}
		}
	}
	

	&__description {
		width: 100%;
		background: $white;
		border-radius: 15px;
		padding: 20px 20px 15px 20px;	
		margin-bottom: 20px;
	}

	&__buy {
	}
}
.products {

	&__hieararchy-menu {
	}
}
.menu {

	&__list {
	}

	&__item {
	}
}


.products-details {


}
.products-details {

	&__characteristics-list {
	}
}


.button-large {
}
