@using Microsoft.AspNetCore.Mvc.TagHelpers
@model YourBookStore.Domain.ViewModels.RegistrationViewModel
@{
    Layout = null;
 }
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>

<body class="body_white">
	<div class="wrapper">
		<main class="main">
			<!--RENDER BODY-->
			<div class="row-container">
				<div class="left-container">
					<img src="../src/img/ui/library.svg" alt="" class="left-container__image">
				</div>
				<div class="right-container">
					<div class="right-container__content">
						<a asp-controller="Home" asp-action="Index" class="right-container__logo"><img src="../src/img/ui/logo.svg" alt=""></a>
						<form asp-area="" asp-controller="Users" asp-action="SignUp" method="post" class="sign-up-form">

							<div class="input-item">
								<span asp-validation-for="Email" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.Email, new { placeholder = "Email*", type = "email", @class = "text-input input-large _input-large-description-font" })

							</div>
							<div class="input-item">
								<span asp-validation-for="LastName" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.LastName, new { placeholder = "Прізвище*", type = "text", @class = "text-input input-large _input-large-description-font" })

							</div>
							<div class="input-item">
							<span asp-validation-for="FirstName" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.FirstName, new { placeholder = "Ім'я*", type="text", @class = "text-input input-large _input-large-description-font" })
								
							</div>
							<div class="input-item">
								<span asp-validation-for="Phone" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.Phone, new { placeholder = "Номер телефону*", type="tel", @class = "text-input input-large _input-large-description-font" })
							</div>
							<div class="input-item">
                            								<span asp-validation-for="City" class="error-message validation-error _regular-interface-font"></span>
                            								@Html.TextBoxFor(m => m.City, new { placeholder = "Ваше місто*", type = "text", @class = "text-input input-large _input-large-description-font" })
								                            </div>
							<div class="input-item">
								<span asp-validation-for="PostalCode" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.PostalCode, new { placeholder = "Ваш поштовий індекс*", type = "text", @class = "text-input input-large _input-large-description-font" })
							</div>

							<div class="input-item">
							<span asp-validation-for="Password" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.Password, new { placeholder = "Придумайте пароль*", type="password", @class = "text-input input-large _input-large-description-font" })
							</div>
							<div class="input-item">
							<span asp-validation-for="ConfirmPassword" class="error-message validation-error _regular-interface-font"></span>
								@Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Повторіть пароль*", type="password", @class = "text-input input-large _input-large-description-font" })
							</div>

							<input type="submit" class="button-large" value="Зареєструватися">
							<div class="sign-form__redirect _regular-interface-font">
								<span>У вас є аккаунт?</span>
							@Html.ActionLink("Увійти", "SignIn")
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--RENDER BODY-->
		</main>
	</div>

	<!--SCRIPTS-->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../src/js/main.js"></script>
</body>

</html>