@model YourBookStore.Domain.ViewModels.LoginViewModel
@{
    Layout = null;
 }
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>

<body class="body_white">
	<div class="wrapper">
		<main class="main">
			<!--RENDER BODY-->
			<div class="row-container">
				<div class="left-container">
					<img src="../src/img/ui/library.svg" alt="" class="left-container__image">
				</div>
				<div class="right-container">
					<div class="right-container__content">
						<a asp-controller="Home" asp-action="Index" class="right-container__logo"><img src="../src/img/ui/logo.svg" alt=""></a>
						<form asp-area="" asp-controller="Users" asp-action="SignIn" method="post" class="sign-in-form">
						
							<div class="input-item">
								<label class="input-item__label" asp-for="Email"><h5>Email</h5></label>
								@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type="email", @class = "text-input input-large _input-large-description-font" })
									
							</div>
							<div class="input-item">
								<label class="input-item__label" asp-for="Password"><h5>Пароль</h5></label>
								@Html.TextBoxFor(m => m.Password, new { placeholder="Пароль",  type="password", @class = "text-input input-large _input-large-description-font" })
							</div>
							<span asp-validation-for="Email" class="error-message validation-error _regular-interface-font"></span>
							<span asp-validation-for="Password" class="error-message validation-error _regular-interface-font"></span>
							<input type="submit" class="button-large" value="Увійти">
							<div class="sign-form__redirect _regular-interface-font">
								<span>У вас немає аккаунту? </span>
								<div class="validation" asp-validation-summary="ModelOnly"></div>
								@Html.ActionLink("Реєстрація", "SignUp")
							</div>
						</form>
					</div>
				</div>
			</div>				
		</main>
	</div>
	
	<!--SCRIPTS-->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../src/js/main.js"></script>
</body>
</html>