
@using YourBookStore.Domain.DTOs
@model UserViewModel
@{
    Layout = "_LayoutWhite";
}

<div class="profile">
    <div class="profile__container">
        <div class="profile__header">
            <h1>Ваш профіль</h1>
        </div>
        <div class="profile__main">
            <div class="profile__image _ibg">
                <img src="../src/img/users/user_1.jpg" alt="">
            </div>
            <div class="profile__info">			
                <div class="profile__info-header">
                    <h3  class="profile__info-full-name">@Model.FirstName @Model.LastName</h3>
                    @Html.ActionLink("","EditProfile","Users",new {email= @Model.Email},new {@class ="_icon-edit"})
                    <a href="/SignOut" class="_icon-signout"></a>
                </div>					
									
                <h4 class="profile__info-role">Покупець</h4>
                <div class="profile__info-border"></div>									
                <span>Контактна інформація</span>
                <div class="profile__info-contact-information-container">
                    <div class="profile__info-box">
                        <ul>
                            <li>Телефон:</li>
                            <li>Email:</li>
                            <li>Місто:</li>
                            <li>Поштовий індекс:</li>
                        </ul>
                    </div>
                    <div class="profile__info-box green-font">
                        <ul>
                            <li>@Model.Phone</li>
                            <li>@Model.Email</li>
                            <li>@Model.City</li>
                            <li>@Model.PostalCode</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Orders.Count != 0)
{
    <div class="order-history">
    <div class="order-history__container">
        <h3>Ваші замовлення</h3>
        <table class="order-history-table items-table">
            <tr class="order-history-table-header items-table__header">
                <td>Фото</td>
                <td>Книга</td>
                <td>Кількість</td>
                <td>Ціна</td>
                <td>Дата замовлення</td>
                <td>Статус замовлення</td>

            </tr>
            @foreach (OrderDTO order in @ViewBag.Orders)
            {
                @foreach (OrderDetailsDTO orderDetail in order.OrderDetails)
                {
                    
                    var imagePath = "src/img/books/"+orderDetail.Book.Code+".jpg";
                    <tr class="items-table__item">
                        <td class="order-history-thumbnail  _ibg">
                            <a href="" class="book-item__image">
                                <img src="@imagePath" alt="Книга">
                            </a>
                        </td>
                        <td class="order-history__info">
                            <a href="" class="book-item__title">
                                <h6 class="order-history__header">@orderDetail.Book.Title</h6>
                            </a>
                            <a href="" class="book-item__author _description-font">@orderDetail.Book.Author.FullName</a>
                        </td>
                        <td class="order-history-quantity">
                            @orderDetail.Quantity
                        </td>
                        <td class="order-history__price">
                            <h5>@orderDetail.Price.ToString().Remove(5) ₴</h5>
                        </td>
                        <td class="order-history__date">
                            @order.OrderDate
                        </td>
                        <td class="order-history__status">
                            <h5>@order.Status</h5>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
}
    

