@model UserViewModel
@{
    Layout = "_LayoutWhite";
}
<div class="profile">
    <div class="profile__container">
        <div class="profile__header">
            <h1>Ваш профіль</h1>
        </div>
        @using (Html.BeginForm("EditProfile", "Users", FormMethod.Post))
        {
            <div class="profile__main">
            <div class="profile__image _ibg">
                <img src="../src/img/users/user_1.jpg" alt="">
            </div>
            <div class="profile__info">								
                <div class="profile__info-header">
                    <input type="text" asp-for=@Model.FirstName class="text-input input-large profile__info-header-input" placeholder=@Model.FirstName>
                    <span asp-validation-for=@Model.FirstName class="error-message validation-error _regular-interface-font"></span>
                    <input type="text" asp-for=@Model.LastName class="text-input input-large profile__info-header-input" placeholder=@Model.LastName>
                    <span asp-validation-for=@Model.LastName class="error-message validation-error _regular-interface-font"></span>
                    <button type="submit" class="_icon-check"></button>
                </div>	
                <h4 class="profile__info-role">Покупець</h4>
                <div class="profile__info-border"></div>									
                <span>Контактна інформація</span>
                <div class="profile__info-contact-information-container">
                    <div class="profile__info-box">
                        <ul>
                            <li>Телефон:</li>
                            <li>Email:</li>
                            <li>Поштовий індекс:</li>
                            <li>Місто:</li>
                        </ul>
                    </div>
                    <div class="profile__info-box green-font">
                        <ul>
                            <li><input class="text-input _input-description-font"
                                       type="text" asp-for=@Model.Phone  placeholder=@Model.Phone>
                                <span asp-validation-for=@Model.Phone class="error-message validation-error _regular-interface-font"></span></li>
                            <li>@Html.HiddenFor(x=>x.Email) <input class="text-input _input-description-font"
                                       type="email"asp-for=@Model.Email  value=@Model.Email disabled="disabled"></li>
                            <li><input class="text-input _input-description-font"
                                       type="text" asp-for=@Model.PostalCode  placeholder=@Model.PostalCode>
                                <span asp-validation-for=@Model.PostalCode  class="error-message validation-error _regular-interface-font"></span></li>
                            <li><input class="text-input _input-description-font"
                                       type="text" asp-for=@Model.City  placeholder=@Model.City>
                                <span asp-validation-for=@Model.City class="error-message validation-error _regular-interface-font"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        }
    </div>
</div>
